<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stupid Coaching</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
  <div class="banner">
    <h1>Stupid Coaching</h1>
    <!-- <p>Find me in app/views/questions/ask.html.erb</p> -->
  </div>

  <form action="/answer">
    <label for="Ask your coach anything:">Ask your coach anything:</label>
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
</body>
</html>
